source_up

export TF_TOKEN_app_terraform_io="${tf_cloud_token}"

export TF_VAR_proxmox_endpoint="${PROXMOX_ENDPOINT}"
export TF_VAR_proxmox_api_token="${proxmox_terraform_token_id}=${proxmox_terraform_token_secret}"
export TF_VAR_cipassword="${cloudinit_password}"
