source_up

export PKR_VAR_proxmox_api_url="${PROXMOX_ENDPOINT}/api2/json"
export PKR_VAR_proxmox_api_token_id="${proxmox_packer_token_id}"
export PKR_VAR_proxmox_api_token_secret="${proxmox_packer_token_secret}"
export PKR_VAR_proxmox_node="${PROXMOX_NODE}"
export PKR_VAR_proxmox_skip_tls_verify="true"
