[defaults]
remote_user = ubuntu
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False

inventory = inventory/hosts.ini
roles_path = roles

callback_whitelist = profile_tasks

# fact caching (24-hour timeout, JSON file)
gathering = smart
fact_caching_timeout = 86400
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/tmp/ansible_fact_cache

[ssh_connection]
pipelining = True
